@font-face {
    font-family: msyi;
    src: url('../fonts/msyi/msyi-webfont.ttf'),
       url('msyi-webfont.woff2') format('woff2'),
       url('msyi-webfont.woff') format('woff'),
       url('msyi-webfont.ttf')  format('truetype'),
       url('msyi-webfont.svg#svgFontName') format('svg');
}

@font-face {
    font-family: bubble;
    src: url('../fonts/bubbleo/bubbleo-webfont.ttf'),
       url('bubbleo-webfont.woff2') format('woff2'),
       url('bubbleo-webfont.woff') format('woff'),
       url('bubbleo-webfont.ttf')  format('truetype'),
       url('bubbleo-webfont.svg#svgFontName') format('svg');
}

@font-face {
    font-family: choc;
    src: url('../fonts/choc/choc-webfont.ttf'),
       url('choc-webfont.woff2') format('woff2'),
       url('choc-webfont.woff') format('woff'),
       url('choc-webfont.ttf')  format('truetype'),
       url('choc-webfont.svg#svgFontName') format('svg');
}

@font-face {
    font-family: znikomit;
    src: url('../fonts/znikomit/znikomit-webfont.ttf'),
       url('znikomit-webfont.woff2') format('woff2'),
       url('znikomit-webfont.woff') format('woff'),
       url('znikomit-webfont.ttf')  format('truetype'),
       url('znikomit-webfont.svg#svgFontName') format('svg');
}
