@font-face {
    font-family: msyi;
    src: url('../fonts/msyi.ttf');
}

body {
  font-family: msyi;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

section.start {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  background: url("../images/bg_forrest.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



@media only screen and (max-width: 40em) {
  section.start {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 40.063em) {
  section.start {
    font-size: 4rem;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 64.063em) {
section.start {
    font-size: 5rem;
  }
} /* min-width 1025px, large screens */


section.start h1 {
  margin: 50% auto auto;
}
nav {
  font-size: 20px;
  margin: 0;
  background: black;
  width: 100%;
  color: white;
  height: 3rem;
}

ul {
  margin: 0;
  text-align: center;
  padding: 1rem 0;
}

li {
  display: inline-block;
  list-style: none;
  text-align: center;
  padding: 0 2rem;
}


.container {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  height: 600px;
}

.logo {
    display: inline-block;
}

section.parallax article{
  height: 300px !important;
}

section.parallax {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.parallax h1 {
text-align: center;
    font-family: msyi;
}

section.parallax article {
  color: #000;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}

section div.container {
  display: inline-block;
  margin-right: auto;
}




section.parallax.parallax_1 {

}
section.parallax.parallax_2 {
  background-image: url("../images/bg_scroll_3.jpg");
}
section.parallax.parallax_3 {

}
section.parallax.parallax_4 {
  background-image: url("../images/bg_scroll_4.jpg");
}