@font-face {
    font-family: msyi;
    src: url('../fonts/msyi.ttf');
}

body {
  font-family: msyi;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}
footer a, header a {
  text-decoration: none;
  color: #fff;
}

footer a:hover, header a:hover {
  color: #bbb;
}


section.start {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  background: url("../images/bg_forrest_opt.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 40em) {
  section.start h1 {
    font-size: 4rem;
    margin: 50% auto auto;
  }
}

@media only screen and (min-width: 40.063em) {
  section.start h1 {
    font-size: 6rem;
    margin: 50% auto auto;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 64.063em) {
section.start h1 {
    font-size: 7rem;
    margin: 40% auto auto;
  }
} /* min-width 1025px, large screens */


.nav {
  opacity: 1;
}

nav {
  font-size: 20px;
  margin: 0;
  background: black;
  width: 100%;
  color: white;
  height: 3rem;
}

ul {
  margin: 0;
  text-align: center;
  padding: 1rem 0;
}

li {
  display: inline-block;
  list-style: none;
  text-align: center;
  padding: 0 2rem;
}


.container {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  height: 500px;
}

section.parallax article {
  height: 300px !important;
  color: #000;
  font-size: 16px;
  text-align: center;
  display: block;
  padding-right: 2rem;
}

@media only screen and (max-width: 40em) {
  .logo {
    max-width: 10%;
    margin: 0 auto;
    margin-top: 2rem;
    display: block;
    float: none;
  }
  .heart {
    max-width: 10%;
    min-width: 60px;
  }
  section.parallax article {
    padding: 0 2rem;
  }

}
@media only screen and (min-width: 40.063em) {
  .logo {
    max-width: 5%;
    min-width: 30px;
    display: block;
    padding: 2rem;
    float: left;
  }
  .heart {
    padding-left: 4rem;
    max-width: 100px;
  }
}

@media only screen and (min-width: 64.063em) {
  section.parallax article {
    padding-right: 5rem;
  }
  .logo {
    padding: 2rem 2rem 2rem 5rem;
  }
}

.invisible_out {
  opacity: 1;
}

.invisible_in {
  opacity: 1;
}

section.parallax {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

section.parallax h1 {
  text-align: center;
  font-family: msyi;
}

section div.container {
  display: inline-block;
}

section.parallax.parallax_2 {
  height: 200px !important;
}

