/* General Settings */

body {
  font-family: msyi;
  margin: 0;
}

main {
  background: url(../images/lined_paper.jpg) center;
  background-size: 30%;
}

h2 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  font-size: 20px;
  background: black;
  width: 100%;
  color: white;
  z-index: 100;
  top: 0;
}

ul {
  margin: 0;
  text-align: center;
  font-size: 22px;
  width: 100%;
  padding: 0.5em 0;
  height: 1.5em;
}

li {
  display: inline-block;
  list-style: none;
  padding: 0 0.5rem;
}

footer a, header a {
  color: #fff;
}

footer a:hover, header a:hover {
  color: #bbb;
}
#Kontakt article {
  margin-bottom: 0;
}

/* Extra Nav-Menu */

.mini-menu {
  text-align: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}


.svgdrop {
  background: url(../images/drops.svg) no-repeat;
  background-size: 20px 30px;
  width: 20px;
  height: 35px;
  position: absolute;
  top: 2%;
  left: 4%;
}
.svgdrop:hover {
  background: url(../images/drops2.svg) no-repeat;
  background-size: 20px 30px;
  width: 20px;
  height: 35px;
  position: absolute;
  top: 2%;
  left: 4%;
}

.mini-menu .svgdrop {
  top: 25%;
  left: 4%;
}

section {
  padding-top: 2em;
  -webkit-box-shadow: inset 0px 6px 3px 1px rgba(0,0,0,0.10);
  -moz-box-shadow: inset 0px 4px 6px 1px rgba(0,0,0,0.10);
  box-shadow: inset 0px 4px 6px 1px rgba(0,0,0,0.10);
}

section article {
  min-height: 300px;
  color: #000;
  font-size: 18px;
  text-align: center;
  display: block;
  padding: 0 2rem;
  margin: 2rem 0;
}

section.start {
  margin-top: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  background: url("../images/slider/bg_forest_opt.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.start object {
  width: 80%;
  height: 55%;
}


section#About {
  padding-top: 2em;
}

section#Passion {
  height: 600px;
}

.container {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  z-index: 0;
  width: 100%;
}

/* SVG Objects */
.note {
  opacity: 0;
  position: absolute;
  margin-top: 2200px;
  margin-left: 10%;
}

.skate {
  opacity: 0;
  position: absolute;
  margin-top: 2250px;
  margin-left: 40%;
}

.hide {
  opacity: 0;
}

@media only screen and (max-width: 40em) {
  .logo {
    max-width: 10%;
    margin: 0 auto;
    margin-top: 2rem;
    display: block;
    float: none;
  }
  .heart {
    max-width: 10% !important;
    min-width: 60px;
    padding: 0 0;
    display: inline !important;
  }
  .note {
    width: 80%;
    margin-top: 2300px;
    margin-left: 10%;
  }
  .skate {
    margin-top: 2350px;
    margin-left: 40%;
  }
  li {
    padding: 0 0.5rem;
  }
}

@media only screen and (min-width: 40.063em) {
  .logo {
    max-width: 5%;
    min-width: 30px;
    padding: 0;
  }
  .heart {
    max-width: 100px !important;
    display: inline !important;
  }
  .note {
    margin-top: 2100px;
    margin-left: 25%;
  }

  .skate {
    margin-top: 2050px;
    margin-left: 50%;
  }
  section article {
    padding: 0 6rem;
  }

  li {
    padding: 0 2rem;
  }

}

section.wrapper {
  text-align: center;
}

section div.container {
  display: inline-block;
}

.music iframe {
  padding-bottom: 5em;
}

.poem {
  font-family: 'znikomit';
  font-weight: bold;
  margin: 0 auto;
}
.bxslider li article {
  text-align: center;
  overflow: auto;
  overflow-x:hidden;
}

.bxslider li article h2 {
  margin-top: 1em;
}

.bxslider li article img {
  max-width: 60%;
  margin: 0 auto;
}

.bx-pager {
  padding-top: 0;
}

.box-wrapper {
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  border: 0;
  background: #fff;
}

.adjust {
  /*
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* add browser-prefixes */
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  

}

.cut {
  margin: 0 auto;
  overflow: hidden;
  height: 469px;
  position: relative;
  top: -75px;
}
.block {
  z-index: 10;
  background: url(../images/lined_paper.jpg) center;
  background-size: 30%;
  height: 75px;
  position: relative;
  right: 20%;
  width: 136%;
}

